main{
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    
    h1{
        margin-top: 10rem;
        text-decoration: underline;
    }

    .Pups{
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        gap: 3rem;
        margin-top: 3rem;

        img{
            width: 100%;
            transition: transform 0.2s;
            border-radius: 0.5rem;
        }

        img:hover {
            transform: scale(1.1);
        }

        .Span2{
            grid-column: 2 / 4;
        }
    }
}

@media screen and (max-width: 800px) {
    main{
        .Pups{
            grid-template-columns: 80vw;

            img:hover {
                transform: scale(1.04);
            }
        }
    }
}