body {
    background-color: white;
    color: rgb(112, 112, 112);
    height: 100%;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.HeadIMG {
    width: 100%;
    border-radius: 0.5rem;
}

.HeadText {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 5vw;
    width: 100vw;
    text-align: center;
}

.KleineMededeling {
    text-align: center;
}

.mededeling {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

    .button-OverOns {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        background-color: darkred;
        padding: 0.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
        border: 0px;
    }

    .Link-Rasstandaard {
        margin-left: 1rem;
        color: rgb(112, 112, 112);
    }
}

.Foto-Card {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 30vw;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    gap: 5%;
    position: static;

    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }
}

.Button {
    background-color: #36424f;
    width: 80%;
    height: 3rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

.WordLidButton {
    margin-bottom: 3rem;
}

.Button:hover {
    color: red;
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Info,
.Info-Mobile {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    justify-content: center;
    align-items: center;
}

.Info-Mobile {
    display: none;
}

.zoomHover {
    transition: transform 0.2s;
}

.zoomHover:hover {
    transform: scale(1.1);
}

.Slot-Text {
    margin-left: 5vw;
    margin-right: 5vw;
}

@media screen and (max-width: 1300px) {
    .HeadText {
        position: absolute;
        top: 30%;
        color: white;
        font-size: 5vw;
        width: 100vw;
        text-align: center;
    }
    
}

@media screen and (max-width: 1000px) {
    .HeadText {
        position: absolute;
        top: 20%;
        color: white;
        font-size: 5vw;
        width: 100vw;
        text-align: center;
    }
    
}

@media screen and (max-width: 800px) {
    .Foto-Card {
        grid-template-columns: 80vw;
        gap: 6rem;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .Info {
        gap: 3%;

        h2 {
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .Info {
        gap: 1%;

        h2 {
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .Info {
        display: none;
    }

    .Info-Mobile {
        display: grid;
        grid-template-columns: 80vw;
    }

    .Slot-Text {
        margin-left: 10%;
        margin-right: 10%;
    }

    .mededeling {
        margin: 1rem;
    }

    .HeadIMG {
        margin-top: 5rem;
    }
}
