body {
    margin: 0;
}

footer {
    background-color: #2b2b2b;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;

    .zoomHover {
        transition: transform 0.2s; /* Animation */
    }
    
    .zoomHover:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    div {
        background-color: #d8d8d8;
        padding-top: 3rem;
        padding-bottom: 0.5rem;
        border-radius: 0.5rem;

        p {
            text-align: center;
            color: rgb(66, 66, 66);
        }

        .Logo {
            opacity: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            img {
                width: 20%;
            }
        }

        ul {
            list-style-type: none;
            text-align: center;
            display: flex;
            gap: 14%;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            margin-right: 1.5rem;

            li {
                a {
                    text-decoration: none;
                    padding: 0.5rem;
                    background-color: #a3a2a2;
                    color: rgb(66, 66, 66);
                    border-radius: 5rem;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                    width: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 70%;
                    }
                }

                a:hover {
                    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
                    text-decoration: none;
                }
            }
        }

        .Copyright {
            font-size: smaller;

            a{
                color: inherit;
            }
        }
    }
}
